.wishes{
    width: 100%;
}

.noWish{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.noWish > img{
    width: 20rem;
    height: 20rem;
    object-fit: cover;
}

.noWish > h3{
    margin: 1rem 0 0 0;
}

@media screen and (max-width: 639px) {
    .noWish > img{
        width: 90%;
        height: 18rem;
        object-fit: cover;
    }
}