.main{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border-radius: 20px;
}

.main > div:nth-child(1){
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.main > div:nth-child(2){
    width: 95%;
    display: flex;
    justify-content: center;
    margin: 2rem 0 0 0;
}