.productPage {
  width: 90rem;
  height: auto;
  margin: 2rem auto 0 auto;
}

.productDetails {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.productDetails > div:nth-child(1) {
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.productDetails > div:nth-child(2) {
  width: 95%;
  display: flex;
  justify-content: center;
  margin: 2rem 0 0 0;
}

@media screen and (max-width: 639px) {
  .productPage {
    width: 100%;
    margin: 0;
  }
  .productDetails {
    display: block;
  }
  .productDetails > div:nth-child(1) {
    width: 100%;
    display: block;
    margin: 0;
  }
  .productDetails > div:nth-child(2) {
    margin: 2rem auto 0 auto;
  }
}

@media (min-width: 639px) and (max-width: 959px) {
  .productPage {
    width: 100%;
  }
}
